.wrap{
	width: 900px; 
	min-height: 300px; 
	text-align: center;
	background-color: silver; 
}
.houseB, .houseL, .houseS, .houseT{
	width: 200px; 
	height: 200px; 
	display: inline-block;
	vertical-align: top;   

}
img {
	width: 200px; 
	height: 150px; 
}
.info {
	width: 400px; 
	min-height: 200px; 
	background-color: peru; 
	border: 2px solid black; 
	text-align: center;
	display: inline-block;
	margin-top: 20px; 
}
.house p{
	border: 2px solid black;
	margin-bottom: 5px; 
}
